---
layout: base.njk
title: Home
---

<div class="home">
  <h1 class="page-heading">{{ site.title }}</h1>
  <p class="site-description">{{ site.description }}</p>
  
  <h2 class="posts-heading">Latest Posts</h2>
  
  <ul class="post-list">
    {% for post in collections.posts %}
    <li class="post-item">
      <a href="{{ post.url | url }}">
        <h3 class="post-title">{{ post.data.title }}</h3>
      </a>
      <time class="post-date">{{ (post.data.published or post.data.date) | dateFormat }}</time>
      {% if post.data.description %}
      <p class="post-description">{{ post.data.description }}</p>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
